{% extends "base.html" %}
{% load custom %}
{% block content_title %}User list{% endblock %}

{% block content %}
    <a class="waves-effect waves-light btn green" href={% url 'users:create' %}>add</a>
    <table style="width:100%">
        <tr>
            <th>Username</th>
            <th>Birthday</th>
            <th>Eligible</th>
            <th>Random Number</th>
            <th>BizzFuzz</th>
        </tr>
        {% for user in object_list %}
            <tr>
                <td><a href="{% url 'users:detail' user.pk %}">{{ user.username }}</a></td>
                <td>{{ user.birthday }}</td>
                <td>{{ user.birthday | age }}</td>
                <td>{{ user.number }}</td>
                <td>{{ user.number | bizzfuzz }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}